colored_clipper.sln
obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0-windows/colored_clipper.AssemblyInfo.cs
obj/Debug/net7.0-windows/colored_clipper.AssemblyInfoInputs.cache
obj/Debug/net7.0-windows/colored_clipper.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0-windows/colored_clipper.GlobalUsings.g.cs
